@media screen and (max-width: 1200px){
    .content, .right, .left{
        display: block;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 360px){
    table{
        font-size: .5rem;
    }
}