@media screen and (max-width: 1200px){
    .left{
        width: 70%;
    }
    .right{
        width: 30%;
    }
}

@media screen and (max-width: 780px) {
    .right img{
        /* display: none; */
    }

    .content{
        width: 100%;
    }
}