@import "css/left.css";
@import "css/right.css";
@import "css/body.css";
@import "css/phone.css";

*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    background-color: sandybrown;
    width: 100vw;
}

a{
    text-decoration: none;
    color: black;
}

.partnerF:hover{
    background-color: #e25822;
}
.partnerO:hover{
    background-color: #808000;
}
.partnerA:hover{
    background-color: #82CDE5;
}
.partnerS:hover{
    background-color: #2CAE53;
}

ul li:last-of-type{
    margin-bottom: 1rem;
}

